.back-image{
    background-image: url('../image/boy.jpg');
    width: 100%;
    left: 0;
    right: 0;
    margin-right: 0px;
    background-size: cover;
    height: 800px;
    margin-top: 70px;
    background-color: rgb(33, 36, 36);
    
}
.intro{
    color:aliceblue;
    width: 40%;
    padding-top: 150px;
    padding-left: 80px;
}
.intro h1{
    font-size: 40px;
}
.intro p{
    font-size: 20px;
    color: darkgray;
}
.back-btn{
    border-style: none;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: red;
    font-size: 20px;
}
@media (max-width:600px) {
    .intro{
        width: 80%;
        padding-top: 120px;
        padding-left: 60px;
    }

}